@use "../../styles/colors.scss" as *;
@use "../../styles/helpers" as *;

.container {
    min-height: 100vh;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 120px;
    text-align: center;

    @include mobile {
        padding: 200px 20px;
        text-align: start;
    }

    .page-name {
        font-weight: 500;
        font-size: 18px;
        color: $contentTertiary;
    }

    .content {
        padding-top: 60px;

        .title {
            font-weight: 400;
            font-size: 62px;

            span {
                font-weight: 700;
                color: $accent;
            }

        }

    }

    .stats-container {
        display: flex;
        gap: 50px;
        padding-top: 60px;
        justify-content: center;

        @include mobile {
            flex-wrap: wrap;
            gap: 20px;
        }

        .stats {
            max-width: 140px;
            text-align: start;

            span {
                font-size: 53px;
            }

            .value {
                font-weight: 500;
                font-size: 24px;

            }


        }
    }

    .action {
        padding-top: 60px;
    }

    .card-container {
        display: flex;
        padding-top: 60px;
        gap: 20px;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            gap: 0px;
        }


        .card {
            border-radius: 4px;
            padding: 20px;
            display: flex;
            gap: 20px;
            text-align: start;
            align-items: center;
            justify-content: center;

            @include mobile {
                font-size: 90px;
            }

            span {
                font-size: 106px;

                @include mobile {
                    font-size: 90px;
                }

            }

            .title {
                font-weight: 500;
                font-size: 42px;


                @include mobile {
                    font-size: 28px;
                }

            }

            &.accent {
                background-color: $accent;

                span,
                .title {
                    color: $white;
                }
            }
        }
    }
}