@use "../../styles/colors.scss" as *;
@use "../../styles/helpers" as *;

.container {

    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(30px);
    z-index: 11;
}

.navbar {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 120px;

    @include mobile {
        padding: 35px 20px;
    }


    .logo {
        width: 136px;
        height: 32px;

        img {
            width: 100%;
            height: 100%;
        }
    }


    .nav-items {
        display: flex;
        align-items: center;
        gap: 30px;


        @include mobile {
            display: none;
        }

        .item {
            font-weight: 600;
            font-size: 18px;
            color: $contentTertiary;

            &.active {
                color: $accent;
            }
        }
    }
}